table,
th,
td {
  border: 1px solid black;
}

th {
  position: sticky;
  margin: 100px, 10px, 10px, 10px;
  top: 0;
  background-color: #f8f9fa; /* Optional: Add a background color for the sticky headers */
}

.table_responsive {
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
  height: 80vh;
  padding: 0 10px;
}

.table_responsive table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

.text-center {
  text-align: center;
}

.addBtn {
  margin: 20px 0 10px;
}
